body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    transition: background-image 0.5s ease-in-out;
    flex-direction: column;
    overflow: hidden; /* Para garantir que as partículas fiquem dentro da viewport */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.message {
    display: none;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgb(2, 2, 221);
    color: white;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.container {
    text-align: center;
    margin-top: 100px; /* Para evitar sobreposição da mensagem */
}

.gift {
    cursor: pointer;
    transition: transform 0.2s;
}

.gift:hover {
    transform: scale(1.1);
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca as partículas atrás dos outros elementos */
}
